:root {
  --color_black: #212121;
  --color-dark: #2f303a;
  --color_blue: #2196f3;
  --color_white: #ffffff;
  --color_gray: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.17;
}
ul{
    padding-left: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;

  color: var(--color_black);

  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* HEADER */
header .container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.15;

  color: var(--color_blue);

  margin-right: 93px;
}

.logo span {
  color: var(--color_black);
}
.logo .white {
  color: var(--color_white);
}

nav {
  display: flex;
  align-items: center;
}
.navigator {
  display: flex;
  margin: 0;
}
nav .link {
  display: block;
  padding: 32px 0;
}
.navigator .link {
  color: var(--color_black);
  font-size: 14px;
  font-weight: 500;
}
.navigator .link:hover,
.navigator .link:focus {
  color: var(--color_blue);
}
.navigator .item:not(:last-child) {
  margin-right: 50px;
}

.address {
  display: flex;
  margin-left: auto;
}

.address a:first-child {
  margin-right: 50px;
}
.address .link {
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  color: var(--color_gray);
}
.address .link:hover,
.address .link:focus {
  color: var(--color_blue);
}
/* HERO */
.hero {
  text-align: center;
  align-content: center;
  background-color: #2f303a;
  height: 600px;
}
.hero h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;

  margin-bottom: 30px;

  color: var(--color_white);
}
.hero button {
  border: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;

  padding: 10px 32px;
  border-radius: 4px;

  color: var(--color_white);
  background-color: var(--color_blue);
}

.hero button:hover,
.hero button:focus {
  color: var(--color_blue);
  background-color: var(--color_white);
}
/* TASK */
.task{
    padding: 94px 0;
}
.task .list {
  display: flex;

}

.task .item:not(:last-child) {
  margin-right: 30px;
}
.task h3 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;

  color: var(--color_black);
}
.task p {
  font-size: 14px;
  line-height: 1.71;

  color: var(--color_gray);
}

/* WORK */
.work{
    padding-bottom: 94px;
}
.work .list{
    display: flex;
  
    margin: 0;
}
.work h2{
    margin-bottom: 50px;
}

.work .item:not(:last-child){
    margin-right: 30px;
}

/* EMPLOYEES */
.employees{
    background-color: gainsboro;
    padding: 94px 0;
}
.employees h2{
    margin-bottom: 50px;
}
.employees img {
  width: 270px;
  height: 260px;
}
.employees .list{
    display: flex;

}
.employees .item:not(:last-child){
    margin-right: 30px;
}
.employees .thumb{
    width: 270px;
    height: 100px;
    align-content: center;
    text-align: center;
    background-color: #f5f4fa;
}
.name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;

  color: var(--color_black);
}
.position {
  font-size: 16px;
  color: var(--color_gray);
  margin: 0;
}

/* FOTTER */

footer {
  background-color: var(--color-dark);
  padding: 60px 0;
}
footer .logo{
    margin-bottom: 30px;
}

.address .item {
  font-style: normal;
  font-size: 14px;

  color: var(--color_gray);

  line-height: 1.71;
}
.item.city {
  color: var(--color_white);
}

/* PORTFOLIO */

.gallery .list{
    padding-top: 94px;
    display: flex;
    justify-content: center;
    margin: 0;
}
.gallery .item:not(:last-child){
    margin-right: 8px;
}
.gallery button {
    padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  border-radius: 4px;
  border: 0;

  color: var(--color-dark);
  background-color: #f5f4fa;
}
.gallery button:hover,
.gallery button:focus {
  color: var(--color_white);
  background-color: var(--color_blue);
}
.gallery h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: var(--color_black);
}
.gallery p {
  font-size: 16px;
  line-height: 1.87;
  color: var(--color_gray);
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-right: -30px;
    padding-top: 50px;
    padding-bottom: 94px;
}
.cards li{
width: calc(100% / 3 - 30px);
    outline: 1px solid tomato;
    margin-top: 30px;
    margin-right: 30px;
}
.cards h2{
    text-align: start;
}

.gallery .thumb{
    padding: 24px;
}