.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  &.is-hidden{
    display: block;
  }
}

.modal {
width: 100%;
  display: block;
  position: absolute;

  background-color: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 4px;
  padding: 40px;
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal__title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

.modal__label {
  color: rgba(117, 117, 117, 1);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  margin-bottom: 4px;
}

.modal__input,
.modal__textarea {
  height: 40px;
  padding-left: 30px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: fill 150ms linear, border 150ms linear;
  &:hover,
  &:focus {
    border: 1px solid $color-accent;
    fill: $color-accent;
  }
}

.modal__item {
  position: relative;
  margin-bottom: 10px;
}

.modal__img {
  position: absolute;
  bottom: 14px;
  left: 12px;
  transition: fill 150ms linear;
}

.modal__input:focus + .modal__img {
  fill: $color-accent;
}

.modal__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 15px;
  margin-bottom: 20px;
}

.check{
  width: 16px;
  height: 15px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 3px;
  margin-right: 8px;
}

.modal__check {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.15;
  color: black;
  margin-bottom: 31px;
}

.check__input:checked + .check{
  background-image: url(../../images/iconcheck.svg);
 background-size: contain;
 box-sizing: border-box;
 border: 1px solid $color-accent;
 border-radius: 3px;
}

.check__link {
  color: $color-accent;
  margin-left: 5px;
}

.check__input {
  appearance: none;
}

.modal__textarea::placeholder {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
}

.modal__thumb {
  display: flex;
  justify-content: center;
}

.modal__button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  color: white;
  padding: 10px 52px;
  background-color: $color-accent;
  border-radius: 4px;
  transition: background-color  250ms linear;
  &:hover, &:focus{
    background-color: white;
    color: $color-accent;
    border: 1px solid $color-accent;
  }
}

.modal__close{
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 cursor: pointer;
 transition: color 150ms linear, border 150ms linear;
  &:hover, &:focus{
    color: $color-accent;
    border: 1px solid $color-accent;
  }
}