.work {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.work__title {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.work__list {
  display: flex;
}

.work__item {
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__name {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  color: white;
}

.work__tumb {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
