.header .container {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    height: 60px;
  }
}

.logo {
  display: block;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.15;
  color: $color-accent;
  &__dark {
    color: black;
  }
  @media screen and (min-width: 768px) {
    margin-right: 81px;
    @media screen and (min-width: 1200px) {
      margin-right: 92px;
    }
  }
}

.header__list {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }
  &.is-open {
    display: block;
  }
}

.header__link {
  padding: 32px 0;
  display: block;
  transition: color 200ms linear;
  transition: color 200ms linear;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.nav {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.header__item {
  &:not(:last-child) {
    margin-right: 51px;
    position: relative;
  }
}

.header__adress {
  display: block;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-open {
  position: absolute;
  top: 0;
  right: 20px;
  display: block;

  padding: 22px 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__adress {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
  color: rgba(117, 117, 117, 1);
  fill: rgba(117, 117, 117, 1);
  font-style: normal;
  margin-left: auto;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.address__link {
  display: flex;
  align-items: center;
  transition: color 200ms linear, fill 200ms linear;
  &:first-child {
    margin-bottom: 10px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      margin-right: 25px;
    }
  }
  & svg {
    margin-right: 8px;
  }
  &:hover,
  &:focus {
    color: $color-accent;
    fill: $color-accent;
  }
}

.active {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 2px solid $color-accent;
  border-radius: 2px;
}

.tel {
  display: flex;
  align-items: center;
}

.header-open {
  z-index: 3;
}

.button__svg {
  display: block;
  z-index: 2;
  transition: fill 200ms linear;
  &:hover,
  &:focus {
    fill: $color-accent;
  }
}

.header-open .close {
  display: none;
}

.header-open .open {
  display: block;
}

.header-open.is-open .open {
  display: none;
}

.header-open.is-open .close {
  display: block;
}

.mobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 360px;
  border-bottom-left-radius: 50px;
  background-color: white;
  transform: translateX(100%);
  transition: transform 200ms linear;
  padding: 48px 40px;
  z-index: 2;
}

.mobile.is-open {
  @media screen and (max-width: 767px) {
    transform: translateX(0);
  }
}

.mobile__list {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 15px;
}

.mobile__adress--tel {
  display: block;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.15;
  font-style: normal;
  margin-bottom: 10px;
  transition: color 200ms linear;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.mobile__item {
  transition: color 200ms linear;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.mobile__adress--mail {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.17;
  font-style: normal;
}

.mobile__adress {
  margin-bottom: 30px;
}

.mobile__network {
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 430px;
  justify-content: space-between;
}

.mobile__network--item {
  margin-top: 10px;
  border-style: none;
  border: 1px solid black;
  border-radius: 4px;
  transition: color 200ms linear, border 200ms linear;
  &:hover,
  &:focus {
    color: $color-accent;
    border: 1px solid $color-accent;
  }
}
.mobile__link {
  padding: 5px;
}

.mobile .social__link {
  background-color: white;
}
.mobile .network {
  fill: $color-accent;
}
